/* nav {
    background-color: #333;
    height: 50px;
  }
  
  nav a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    line-height: 30px;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #333;
  }
.div1{
    width: 1930px;
    
}   */